<ion-view style="" class=" " id="page7" title="Quiz 1">
    <ion-content class="has-header" padding="false"  "  >
<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="test">
    <i class="icon ion-home"></i>
    test
  </a>
  <a class="tab-item" ui-sref="text_video">
    <i class="icon ion-star"></i>
    V/T
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    chat
  </a>
  
</div><br> </br>
		  
			<form name="testForm" class="list " id="settings-form">
			<ion-list class=" " >
			<label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="test.contenu" type="text" placeholder="Contenu du question">
            </label>
			<label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="test.choix_1" type="text" placeholder="choix 1">
            </label>
			<label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="test.choix_2" type="text" placeholder="choix 2">
            </label>
			<label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="test.choix_3" type="text" placeholder="choix 3">
            </label>
			<label class="item item-input ic-selected">
            <a class="icon icon-right ion-locked" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="test.choix_4" type="text" placeholder="choix 4">
            </label>
			
			
           
            <button ng-click="ajouter_test(testForm,test)" class=" button button-assertive    icon-left ion-ios-email-outline " style="border-radius:0px 0px 0px 0px;" id="signup-button3">ajouter test</button>
		   </ion-list>
           </form>
	</ion-content>
</ion-view>
