<ion-view style="" class=" " id="page7" title="Quiz 2">
    <ion-content class="has-header" padding="false"  ng-init="loadtest()"  >
<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="test">
    <i class="icon ion-home"></i>
    test
  </a>
  <a class="tab-item" ui-sref="text_video">
    <i class="icon ion-star"></i>
    V/T
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    chat
  </a>
  
</div><br> </br>
<div>
   <h4> <b>Progression</b> </h4> 
  <progress max="100" value="60"> </progress>
</div>


<div ng-repeat="item in test">
 <!-- <input type="text" ng-model="item.contenu" ng-change="test.$save(item)" /> -->
  
 
  Question : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx	<br>

</div>
<b>Question :</b> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 	<br>


<ul class="list">
<li class="item item-checkbox">
   Checbox 1
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
   Checkbox 2
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
   Checkbox e
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
   Checkbox 4
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul>	
<div class="item item-avatar" >
	  <button class="button button-energized" style="width:140px">
      Previous
      </button>
       <button class="button button-energized"style="width:140px">
       Next
        </button>
		</div>  
		  
			
	</ion-content>
</ion-view>
