<ion-view style="" class=" " id="page7" title="Test">
    <ion-content class="has-header" padding="false"  "  >
<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="test">
    <i class="icon ion-home"></i>
    Quiz
  </a>
  <a class="tab-item" ui-sref="text_video">
    <i class="icon ion-star"></i>
    Textes/Vidéos
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    chat
  </a>
</div><br> </br>
<button class="button button-assertive" ui-sref="quiz_1">
   Quiz 1
</button> <br> </br> <br> </br>
<button class="button button-assertive" ui-sref="quiz_2">
   Quiz 2
</button><br> </br> <br> </br>
<button class="button button-assertive" ui-sref="quiz_3">
   Quiz 3
</button><br> </br> <br> </br>
<button class="button button-assertive" ui-sref="quiz_4">
   Quiz 4
</button> <br> </br>
{{user.classe}}
           
	</ion-content>
</ion-view>
