<ion-view style="" class=" " id="page7" title="Textes et vidéos">
    <ion-content class="has-header" padding="false"  "  >

<br> </br>
		<button class="button button-block" ui-sref="t_v_atelier1">
   atelier 1
</button>
<br> </br>
		<button class="button button-block" ui-sref="t_v_atelier2">
   atelier 2
</button>
<br> </br>
		<button class="button button-block" ui-sref="t_v_atelier3">
   atelier 3
</button>
<br> </br>
		<button class="button button-block" ui-sref="t_v_atelier4">
   atelier 4
</button>

<div class="tabs tabs-icon-top">
  <a class="tab-item" ui-sref="test">
    <i class="icon ion-home"></i>
    Quiz
  </a>
  <a class="tab-item" ui-sref="text_video">
    <i class="icon ion-star"></i>
    Textes/Vidéos
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    chat
  </a>
</div>
	</ion-content>
</ion-view>